body {
    background-color: brown;
}

h1 {
    color: brown;
}

.wood {
    background: url("../images/bg_wood.png") repeat center center;
}

table {
    color: white;
}

.container {
    /* max-width: 1140px; */
    max-width: 1500px;
}